.container {
  width: 300px;
  margin: auto;
}
.container h1 {
  text-align: center;
  background-color: rgb(41, 37, 228);
  margin-bottom: 0;
  color: rgb(142, 219, 54);
}
.weather-part {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(163, 17, 207);
  margin-top: 0.3px;
  color: #fff;
}
.weather-more-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.weather-more-info img {
  margin: 0 10px;
}
